/* New CSS */
html {
    height: 100%;
}

body {
    height: 100%;
    color: #D2DF49;
    font-size: 11px;
    font-family: Helvetica, Arial, sans-serif;
}

body > .topbar {
    position: absolute;
    min-width: 1029px;
    height: 72px;
    box-shadow: 0px 2px 2px #222;
    background-color: rgba(52, 52, 52, 0.81);
}

body > .topbar .topbar-inner {
    background: none;
}

body > .topbar .topbar-inner > .container-fluid {
    padding-right: 0px;
}

#ws-topbar .brand.logo {
    padding: 10px 21px;
    width: 150px;
    height: 52px;
    background-position: center center;
    /*background-image: url(../../../../config/images/logo.png);*/
    background-repeat: no-repeat;
}

#ws-topbar .nav > li a {
    white-space: nowrap;
}

#ws-topbar .nav > li .dropdown-menu {
    max-width: none;
}

#ws-topbar .nav > li > .dropdown-menu {
    top: 72px;
    text-align: left;
}

#ws-topbar .nav > li .category > .dropdown-menu {
    top: -6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

#ws-topbar .links {
    margin: 0px;
}

#ws-topbar .links > .link {
    height: 72px;
}

#ws-topbar .links > .link > a {
    line-height: 51px;
}

.container-fluid.page {
    padding-right: 0px;
    padding-left: 0px;
    height: 100%;
}

#ws-content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding-top: 72px;
    height: auto;
}

.main_content {
    margin: 0 auto 0 auto;
    padding-top: 30px;
    padding-right: 8px;
    padding-bottom: 30px;
    padding-left: 8px;
    width: 800px;
}

.inline_content.main_content .row {
    margin-left: 0;
}

.container-fluid > .sidebar.list_panel {
    position: absolute;
    top: 0;
    left: 0;
    width: 192px;
    height: auto;
}

.container-fluid > .content {
    margin-left: 212px;
}

.background {
    /* background-color: #F9FCFF; */
    background-image: url(http://images2.alphacoders.com/467/467728.jpg);
    background-repeat: repeat-x;
    background-attachment: fixed;
    background-size: cover;
}

.footer_wrapper {
    position: fixed;
    right: 0;
    bottom: 2px;
    text-align: right;
}

.footer_wrapper .powered_by a {
    margin-right: 5px;
    color: #BFBFBF;
    text-decoration: none;
    text-shadow: 1px 1px 3px #333;
    font-size: 11px;
}

.footer_wrapper .powered_by a:hover {
    color: #ffffff;
}

.footer_wrapper .tag_version {
    color: #bfbfbf;
    font-size: 10px;
}

#loading {

    position: absolute;
    top:43%;
    left:43%;
    z-index:30000;
    display:none;
    padding: 2em;
    border: 1px;
    border-radius: 1em;

    background-color: #999999;
    box-shadow: 3px 3px 3px #333333;
    color: #EBEBEB;
    font-size: large;
    opacity: 0.8;
}

#loading .close-button {
    position: absolute;
    top: 2px;
    right: 7px;
    font-size: 11px;
    cursor: pointer;
}

#loading .graphic {
    float: left;
}

#loading .text {
    float: left;
    margin-left: 10px;
    line-height: 32px;
}

#span_ajax_loader {
    margin-left: 1em;
    vertical-align: middle;
}

/**** Tooltip ****/
.tooltip {
    display: block;
    float: left;
    margin-top: 3px;
    margin-right: 6px;
    width: 14px;
    height: 14px;
    background-image: url("../images/help_icon2.png");
    background-position: 0 0;
    text-indent: -9999px;
}

.tooltip-wrapper {
    display: inline-block;
    float: left;
    margin-left: -16px;
}

.tooltip-wrapper:hover .tooltip {
    background-position: 0 -14px;
}

/* Help Boxes */
.help_box {
    margin-bottom: 10px;
    padding: 10px;
    padding-bottom: 10px;
    border: 1px solid #363636;
    color: black;
    border-radius: 10px 10px 10px 10px;
    background: #05addc;
    background: -webkit-gradient(linear, left top, left bottom, from(#FAFEFF), to(#737879)) !important;
    background: -moz-linear-gradient(top,  #05addc,  #036884) !important;
    box-shadow: 1px 1px 1px #333333;
    text-align: center;
    font-style: italic;
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#05addc', endColorstr='#036884') !important;
}

/* fancy_button */
.fancy_button {
    margin-left: 5px;
    padding: 5px 10px;
    height: 18px;
    border: solid 1px #333333;
    border-radius: 5px;
    box-shadow: 1px 1px 2px #555555;
    color: #dfdfdf !important;
    text-decoration: none;
    line-height: 18px;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
}

.fancy_button:hover, .fancy_button:focus {
    background: #333333 !important;
    background: -webkit-gradient(linear, left top, left bottom, from(#333333), to(#000000)) !important;
    background: -moz-linear-gradient(top,  #333333,  #000000) !important;
    box-shadow: 0px 0px 0px #555555;
    color: #dfdfdf !important;
    text-decoration: none;
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#000000') !important;
    cursor: default;
}

.fancy_button:active {
    position:relative;
    top:1px;
    color: #dfdfdf !important;
}

button.fancy_button {
    height: 27px;
    line-height: none;
}

/* block display  */
.fancy_button.block {
    display: block;
    margin: 0 auto;
    width: 81px;
    height: 18px;
    text-align: center;
    font-weight: bold;
    line-height: 18px;
}

/* BLUE */
.fancy_button.blue {
    background: #05addc;
    background: -webkit-gradient(linear, left top, left bottom, from(#05addc), to(#036884)) !important;
    background: -moz-linear-gradient(top,  #05addc,  #036884) !important;
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#05addc', endColorstr='#036884') !important;
}

.fancy_button.blue:hover, .fancy_button.blue:focus {
    background: #048AB0;
    background: -webkit-gradient(linear, left top, left bottom, from(#05addc), to(#0783a6)) !important;
    background: -moz-linear-gradient(top, #05addc, #0783a6) !important;
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#05addc', endColorstr='#0783a6') !important;
}

/* GREEN */
.fancy_button.green {
    background: #2EB82E;
    background: -webkit-gradient(linear, left top, left bottom, from(#2EB82E), to(#1f7a1f)) !important;
    background: -moz-linear-gradient(top, #2EB82E, #1f7a1f) !important;
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#2EB82E', endColorstr='#1f7a1f') !important;
}

.fancy_button.green:hover, .fancy_button.green:focus {
    background: #2eb82e;
    background: -webkit-gradient(linear, left top, left bottom, from(#2eb82e), to(#1e941e)) !important;
    background: -moz-linear-gradient(top, #2eb82e, #1e941e) !important;
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#2eb82e', endColorstr='#1e941e') !important;
}

/* RED */
.fancy_button.red {
    background: #e60000;
    background: -webkit-gradient(linear, left top, left bottom, from(#e60000), to(#8a0000)) !important;
    background: -moz-linear-gradient(top,  #e60000,  #8a0000) !important;
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#e60000', endColorstr='#8a0000') !important;
}

.fancy_button.red:hover, .fancy_button.red:focus {
    background: #e60000 !important;
    background: -webkit-gradient(linear, left top, left bottom, from(#e60000), to(#a80000)) !important;
    background: -moz-linear-gradient(top,  #e60000,  #a80000) !important;
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#e60000', endColorstr='#a80000') !important;
}

/* GENERIC ALERT CSS */
.alert_buttons_wrapper {
    padding: 15px;
    text-align: center;
}

.alert_text_wrapper {
    overflow-y: auto;
    margin: 15px 15px 0;
    padding:15px;
    max-width: 600px;
    max-height: 200px;
    text-align: center;
}

.alert_img {
    padding-top: 15px;
    height: 50px;
}

.alert_buttons_wrapper .alert_button {
    display: block;
    margin: auto;
    width: 81px;
}
/* ERROR */
.alert_text_wrapper.error_alert {
    border: 1px dashed red;
    background: #F2AAAA;
}

.alert_img.error_alert {
    background: url('../images/error.png') no-repeat center center;
}

/* WARNING */
.alert_text_wrapper.warning_alert {
    border: 1px dashed #DEA704;
    background: #FFDA61;
}

.alert_img.warning_alert {
    background: url('../images/warning.png') no-repeat center center;
}

/* INFO */
.alert_text_wrapper.info_alert {
    border: 1px dashed #05addc;
    background: #A0D5EB;
}

.alert_img.info_alert {
    background: url('../images/info.png') no-repeat center center;
}

/* CONFIRM */
.alert_img.confirm_alert {
    background: url('../images/confirm.png') no-repeat center center;
}

.alert_buttons_wrapper .confirm_button {
    margin: 0 40px;
}

/* Not supported browser template */
#not_supported_browsers_div {
    display: inline-block;
    margin-top: 50px;
    width: 600px;
    border: 1px solid #363636;
    background-color: #6C6C6C;
    text-align: center;
}

#not_supported_browsers_div a {
    height: 32px;
    color: #05addc;
    text-decoration: underline;
    line-height: 32px;
}

#not_supported_browsers_div a:hover {
    color: #eeeeee;
}

#not_supported_browsers_div .list_browsers {
    display: block;
    padding-top: 10px;
    padding-bottom: 30px;
}

#not_supported_browsers_div ul {
    list-style-type: none;
}

#not_supported_browsers_div .li_text {
    display: inline-block;
    text-align: left;
}

#not_supported_browsers_div .li_text > a {
    margin-left: 40px;
}

#not_supported_browsers_div .safari-icon {
    background: url('../images/icon_safari.png') no-repeat;
}

#not_supported_browsers_div .firefox-icon {
    background: url('../images/icon_firefox.png') no-repeat;
}

#not_supported_browsers_div .chrome-icon {
    background: url('../images/icon_chrome.png') no-repeat;
}

#not_supported_browsers_div .opera-icon {
    background: url('../images/icon_opera.png') no-repeat;
}

/* Small table */
.small-table {
    margin: 20px auto auto;
    max-height: 342px;
    border: 2px solid #666666;
    border-radius: 15px 15px 0px 0px;
    color: #666666;
}

.small-table .rows {
    overflow: auto;
    max-height: 310px;
}

.small-table .column.first:not(:last-child) {
    border-right: 1px solid #A6A6A6;
}

.small-table .column {
    float: left;
    height: 32px;
    text-align: center;
    line-height: 32px;
}

.small-table .column.merged {
    text-align: center;
}

.small-table .row {
    margin-left: 0px;
    height: 32px;
}

.small-table .row.title {
    border-bottom: 2px solid #666666 !important;
    border-radius: 13px 13px 0px 0px;
    background-color: #dddddd !important;
    font-weight: bold;
}

.small-table .row:not(:last-child) {
    border-bottom: 1px solid #A6A6A6;
}

.small-table .row:nth-child(odd) {
    background-color: #eeeeee;
}

.small-table .row:nth-child(even) {
    background-color: #dddddd;
}

.ui-dialog .charges-summary thead tr th:nth-child(2),
.ui-dialog .charges-summary thead tr th:nth-child(5),
.ui-dialog .charges-summary thead tr th:last-child,
.ui-dialog .charges-summary tbody tr td:nth-child(2),
.ui-dialog .charges-summary tbody tr td:nth-child(5),
.ui-dialog .charges-summary tbody tr td:last-child { text-align: right; }

.ui-dialog .charges-summary tbody tr td:nth-child(3) { text-align: center; }

.ui-dialog .charges-summary { margin-bottom: 0; }

.ui-dialog .charges-info {
    border: 0;
    background: 0;
}
