
#voip_welcome-view {
    text-align: center;
    padding-bottom: 20px;
}
#voip_welcome-view #voip_api_url {
    margin-top: 25px;
}
#voip_welcome-view .welcome_div {
    margin: 50px auto auto;
    width: 702px;
    box-shadow: 2px 2px 2px #333333;
    background: rgba(51, 51, 51, 0.94);
    color: rgba(253, 253, 253, 1);
    border-radius: 5px;
}
#voip_welcome-view .welcome_div h1 {
    color: #bbbbbb;
    font-size: 30px;
    text-shadow: 1px 1px 1px #000;
}
#voip_welcome-view .welcome_div .welcome_header {
    padding: 20px 0px;
}
#voip_welcome-view .welcome_div .content_title {
    /* background: url('images/header_bar.png') repeat-x center; */
    height: 24px;
    line-height: 24px;
    box-shadow: 1px 1px 3px #181818;
    text-align: left;
}
#voip_welcome-view .welcome_div .content_title div {
    color: #D2DF49;
    width: 320px;
    padding-left: 30px;
    float: left;
    text-shadow: 1px 1px 2px #222;
    font-size: 15px;
}
#voip_welcome-view .welcome_div .content .title {
    color: #CDD948;
}
#voip_welcome-view .welcome_div .content .content_block.hoverable:hover {
    box-shadow: inset 0px 0px 50px 0px #666;
    cursor: pointer;
}
#voip_welcome-view .welcome_div .content .content_block .content_line {
    width: 250px;
    margin: auto;
    font-weight: bold;
    font-size: 12px;
}
#voip_welcome-view .welcome_div .content .content_block .content_line .right {
    float: right;
    margin-top: 3px;
}
#voip_welcome-view .welcome_div .content .content_half {
    float: left;
    width: 350px;
    height: 405px;
    text-align: left;
    border-right: 1px solid #181818;
    border-left: 1px solid #666666;
}
#voip_welcome-view .welcome_div .content .content_half:last-child {
    border-right: none;
}
#voip_welcome-view .welcome_div .content .content_half:first-child {
    border-left: none;
}
#voip_welcome-view .welcome_div .content .content_half .content_block:last-child {
    border-bottom: none;
}
#voip_welcome-view .welcome_div .content .content_half .content_block:first-child {
    border-top: none;
}
#voip_welcome-view .welcome_div .content .content_half .content_block {
    padding: 10px;
    border-bottom: 1px solid #181818;
    border-top: 1px solid #666666;
}
#voip_welcome-view .welcome_div .content .content_block .edit_icon {
    display: inline-block;
    background: url('images/edit_icon.png') no-repeat center;
    width: 20px;
    height: 18px;
    margin: 0 0 -3px 10px;
    cursor: pointer;
}
#voip_welcome-view .welcome_div .content .content_block .icon {
    margin-right: 10px;
}
#voip_welcome-view .welcome_div .content .content_block .field {
    font-size: 16px;
    font-weight: bold;
    padding: 0 10px;
    color: #5dc151;
}
#voip_welcome-view .welcome_div .content .content_block .field.text {
    font-size: 12px;
    color: #fff;
    font-weight: normal;
}
#voip_welcome-view .welcome_div .content .content_block #sub_accounts {
    margin-left: 5px;
    width: 150px;
}
#voip_welcome-view .welcome_div .content .content_block .button_accounts {
    padding: 5px;
    margin-top: 11px;
    text-align: center;
    height: 27px;
}
#voip_welcome-view .welcome_div .content .content_block .button_accounts .fancy_button {
    width: auto;
}
#voip_welcome-view .welcome_div .content .content_block .content_line.account {
    padding: 10px 0;
}
#voip_welcome-view .welcome_div .content .content_block .account_bars .field {
    color: #FFFFFF;
    padding: 0px;
    text-align: left;
    width: 30px;
    margin-left: 10px;
    display: inline-block;
}
#voip_welcome-view .welcome_div .content .content_block .account_bars .content_line {
    width: 300px;
    padding-bottom: 10px;
}
#voip_welcome-view .welcome_div .content .content_block .account_bars .bar_wrapper {
    float: right;
    height: 18px;
}
#voip_welcome-view .welcome_div .content .content_block .account_bars .progress_bar {
    background-color: #D0DD48;
    display: inline-block;
    width: 100px;
    height: 10px;
    margin-top: 5px;
    border-radius: 5px;
    box-shadow: 1px 1px 3px #333333;
}
#voip_welcome-view .welcome_div .content .content_block .field.account_name {
    color: #D1DE48;
    font-size: 15px;
}
#voip_welcome-view .welcome_div .content .content_block .pie_chart_wrapper {
    width: 300px;
    height: 120px;
    margin: auto;
    padding-top: 11px;
    color: #FFFFFF;
}
#voip_welcome-view .welcome_div .content .content_block .pie_chart_wrapper td {
    border: none;
}
#voip_welcome-view .welcome_div .content .content_block .pie_chart_wrapper .jqplot-table-legend-swatch-outline {
    border: none;
    padding: 0;
    box-shadow: 2px 2px 2px #222222;
}
