<div>
    <div class="popup popup_login">
        Welcome at Yumminova!<br />
    		and thanks for your interest in our awesome platform.<br />
    			    To signup please visit <a href="http://dev.beltex.nl/cart.php?gid=2">Yumminova.eu</a>&nbsp;while we work on creating the option to signup here.<br />
    					Dont worry, after signup your account will be created instantly.
    </div>
</div>
