#myaccount_navbar {
   cursor: pointer;
   min-width: 160px;
}
.nav.secondary-nav.links .open #myaccount_navbar .arrow {
    border-color: white transparent transparent transparent;
}
#myaccount_navbar:hover .arrow {
    border-color: white transparent transparent transparent;
}
#myaccount_info {
    float: left;
    margin-top: 20px;
    line-height: 0px;
}
#myaccount_info > .arrow {
    border-style: solid;
    border-width: 10px 6px 0 6px;
    border-color: #BFBFBF transparent transparent transparent;
    float: left;
    margin: 3px 10px 0 10px;
}
#myaccount_info a {
    float: left;
    color: #D1DE48;
    padding: 10px 0;
}
#myaccount_info > div:nth-child(2) {
    float: left;
    margin: 5px 0 0 0;
    text-align: left;
}
#myaccount_help {
    float: right;
    width: 73px;
    height: 73px;
}
#myaccount_help > a {
    background-image: url('../img/help_btn.png');
    background-repeat: no-repeat;
    width: 73px;
    height: 73px;
    margin-top: -1px;
    padding: 0;
}
#myaccount_help > a:hover {
    background-image: url('../img/help_btn_hover.png');
}
.dropdown .dropdown-menu .sublink.disabled, .dropdown .dropdown-menu .sublink.disabled a {
    opacity: 0.5;
    background: #464646;
    color: #bfbfbf;
    cursor: not-allowed;
}
